<link rel="stylesheet" href="style/css/bootstrap.min.css">
    <h1 style="color: rgb(250, 121, 211); font-family: fantasy; text-align: center">Listado de Productos</h1>
  </form>
  </div>
  </nav>
  <h6><form class="row g-3">
    <div class="col-md-4">
      <label for="inputDescripcion" class="form-label">Descripcion</label>
      <input type="text" class="form-control" id="inputDescripción4" placeholder="Describa el producto">
    </div>
    <div class="col-md-5">
      <label for="inputcantidadinventario" class="form-label">Cantidad</label>
      <input type="text" class="form-control" id="inputcantidadinventario5" placeholder="Inserte Cantidad">
    </div>
    <div class="col-md-6">
      <label for="inputpreciounitario" class="form-label">Precio Unitario</label>
      <input type="text" class="form-control" id="inputpreciounitario">
      </div>
  <div class="col-md-7">
    <label for="inputcodigoproducto" class="form-label">Codigo del producto</label>
    <input type="text" class="form-control" id="inputcodigoproducto5" placeholder="inserte serial">
  </div>
  <div class="col-md-4">
    <label for="inputcategoria" class="form-label">Categoria</label>
    <select id="inputcategoria" class="form-select">
    <option selected>Por favor seleccione</option>
    <option>...</option>
    </select>
    </div>
  
  <div class="col-12">
  <div class="container d-flex justify-content-center"><button type="submit" class="btn btn-primary">Listar producto</button></div>
  </div>
  </form><h6>
  <body>
  </html>