<link rel="stylesheet" href="style/css/bootstrap.min.css">
    <h1 style="color: rgb(250, 121, 211); font-family: fantasy; text-align: center"> Editar Productos</h1>
  </form>
  </div>
  </nav>
  <h6><form class="row g-3">
    <div class="col-md-6">
      <label for="inputnombre" class="form-label">Buscar producto por nombre</label>
      <select id="inputnombre" class="form-select">
      <option selected>coloca nombre del producto</option>
      <option>Camisas personalizadas</option>
      <option>Mugs</option>
      <option>Llaveros</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputcategoria" class="form-label">Buscar categoria producto</label>
      <select id="inputcategoria" class="form-select">
      <option selected>Añade nombre del producto</option>
      <option>Camisas personalizadas</option>
      <option>Mugs</option>
      <option>Llaveros</option>
      </select>
      </div>
      <label for="inputDescripcion" class="form-label">Añadir codigo del producto</label>
      <input type="text" class="form-control" id="inputDescripción4" placeholder="Colaca codigo del producto">
    </div>
    <label for="inputpreciounitario" class="form-label">Editar nombre del producto</label>
      <input type="text" class="form-control" id="inputpreciounitario">
      </div>
    </div>
    <label for="inputpreciounitario" class="form-label">Editar categoria del producto</label>
      <input type="text" class="form-control" id="inputpreciounitario">
      </div>
    </div>
    <label for="inputpreciounitario" class="form-label">Editar codigo del producto</label>
      <input type="text" class="form-control" id="inputpreciounitario">
      </div>
  
  <div class="col-12">
  <div class="container d-flex justify-content-center"><button type="submit" class="btn btn-primary">Editar producto</button></div>
  </div>
  </form><h6>
  <body>
  </html>