<link rel="stylesheet" href="style/css/bootstrap.min.css">
    <h1 style="color: rgb(250, 121, 211); font-family: fantasy; text-align: center"> Editar Usuarios</h1>
  </form>
  </div>
  </nav>
  <h6><form class="row g-3">
    <div class="col-md-6">
        <label for="inputpreciounitario" class="form-label">Buscar nombre del usuario</label>
        <input type="text" class="form-control" id="inputpreciounitario">
        </div>
    </div>
    <div class="col-md-4">
      <label for="inputapellido" class="form-label">Buscar apellido del usuario</label>
      <input type="text" class="form-control" id="inputapellido">
        </div>
    
      </div>
      <label for="inputDescripcion" class="form-label"> Coloca el documento del usuario</label>
      <input type="text" class="form-control" id="inputDescripción4" placeholder="Coloca documento del usuario">
    </div>
    <label for="inputnombre" class="form-label">Editar nombre del usuario</label>
      <input type="text" class="form-control" id="inputnombre">
      </div>
    </div>
    <label for="inputapellido" class="form-label">Editar apellido del usuario</label>
      <input type="text" class="form-control" id="inputapellido">
      </div>
    </div>
    <label for="inputdocumento" class="form-label">Editar documento del usuario</label>
      <input type="text" class="form-control" id="inputdocumentoo">
      </div>
      <label for="inputcorreo" class="form-label">Editar correo del usuario</label>
      <input type="text" class="form-control" id="inputcorreo">
      </div>
  
  <div class="col-12">
  <div class="container d-flex justify-content-center"><button type="submit" class="btn btn-primary">Editar usuario</button></div>
  </div>
  </form><h6>
  <body>
  </html>