<link rel="stylesheet" href="style/css/bootstrap.min.css">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del usuario</th>
        <th scope="col">Apellido del usuario</th>
        <th scope="col">Correo del usuario</th>
        <th scope="col">Documento del usuario</th>
        <th scope="col">Descripción de compra</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Liz</td>
        <td>Mora</td>
        <td>esteesunejemplo@gmail.com</td>
        <td>1007263635</td>
        <td>cuatro camisas basicas color rojo, verde, amarrilla y azul con un total de $57.000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Fabian</td>
        <td>Rico</td>
        <td>ejemplo2@gmail.com</td>
        <td>1007263635</td>
        <td>cuatro camisas más mini estampado color rojo, verde, amarrilla y azul con un total de $70.000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Kevin</td>
        <td>1007263635</td>
        <td>100 camisas más mini estampado color rojo, verde, amarrilla y azul con un total de $200.000</td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-primary" href="index.html" role="button">Inicio</a>
  <button class="btn btn-primary" type="submit">Eliminar selección</button>
  <button class="btn btn-primary" type="submit">Siguiente</button>
  <a class="btn btn-primary" href="Loguin.html" role="button">Cerrar Sesión</a>
 