<link rel="stylesheet" href="style/css/bootstrap.min.css">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="index.html">Volver</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="6.1tabla_historial.html">Historial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="6.2tabla_eliminarhistorial.html">Eliminar historial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Loguin.html">Cerrar sesión</a>
  </li>
</ul>
<div class="alert alert-primary" role="alert">
Por favor selecciona un botón
</div>